{{#if typescript}}
export type {{ name }}Props = {
  //
};
{{/if}}

{{#if export }}export {{/if}}const {{ name }} = () => {
  return (
    <div>{{name}}</div>
  );
};

{{#if proptypes~}}
{{ name }}.propTypes = {
  //
};
{{#unless export}}

{{/unless}}
{{/if}}
{{#unless export }}
export default {{ name }};
{{/unless}}
